<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <script language="JavaScript">
      var username="szyou";
      var hostname = "andrew.cmu.edu";
      document.write("<a href='" + "mail" + "to:" + username + "@" + hostname +
        "'>" + "Email" + "</a>");
    </script>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://www.linkedin.com/in/stephanieyou">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-text fa-lg main-list-item-icon"></span>
    <a href="resume.pdf">Resume (10/10/2018)</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/stephanieyou">GitHub</a>
  </li>
</ul>
